:root {
  --border-radius: 0;
  --cc-bg: #2e2e2e;

  --widget-background: #2e2e2e;
  --noti-bg-alpha: 1;

  --padding: 0;
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: 0;
  padding: 0;
  border: var(--border);
}

.control-center-list-placeholder {
  padding: 0;
}

.notification-group {
  border-radius: 0;
  padding: 8px;
}

.widget.widget-mpris {
  background: var(--widget-background);
  border-radius: 0;
  padding: 0;
  border: none;
}

.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 0;
  padding: 0;
  margin: 0;
  margin-top: 0;
}

.widget-mpris > box > button:hover {
  background: var(--widget-background);
}

.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0;
}

.widget-mpris-player:only-child {
  margin: 0;
}
